:root {
    --main_bg_color: #3841bb;
    --page-button-selector-color: #333ba1;
    --page-container-color: #3840b1;
    --page-button-color: #2161d6e3;
    --page-button-color-hover: #2188d6;
    --page-border-color: #424ddc;
    --link-color: #FF3FAC;
    --dropdown-color: #434ccc;
}

.download_main_container {
    background-color: var(--main_bg_color);
    min-height: 100%;
    max-width: 960px;
    margin: auto;
}

.download-font {
    width: 88px;
    font-size: 12px;
    background: -webkit-linear-gradient(right, #30CFD0, #ff40dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 2px;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 1.4;
}

.main_container {
    background-color: var(--main_bg_color);
    padding-top: 20px;
    min-height: 100%;
    max-width: 960px;
    margin: auto;
}

.main_page_sel_container {
    border-color: var(--page-border-color);
    border-style: solid;
    border-radius: 4px;
    background-color: var(--page-container-color);
    min-height: 100%;
    max-width: 930px;
    margin: auto;
}

.page_sel_button_holder {
    background-color: var(--page-button-selector-color);
    display: flex;
    height: 20px;
    width: 100%;
}

.page_sel_button-selected {
    height: 22px;
    background-color: var(--page-container-color);
    z-index: 4;
    cursor: pointer;
    margin-right: 5px;
    border: none;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.page_sel_button {
    z-index: 3;
    cursor: pointer;
    margin-right: 5px;
    height: 100%;
    background-color: var(--page-button-color);
    border: none;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.page_sel_button:hover {
    z-index: 4;
    height: 22px;
    background-color: var(--page-container-color);
}

.page_container {
    z-index: 3;
    border-top-width: 2px;
    border-top-style: solid;
    border-color: var(--page-border-color);
    background-color: var(--page-container-color);
}

.eng_dropdown_frame-open {
    transition-duration: .75s;
    height: 0px;
    overflow-y: hidden;
    margin: auto;
    margin-top: 6px;
    max-width: 900px;
    background-color: var(--dropdown-color);
    display: block;
    margin-bottom: 16px;
}

.eng_dropdown_btn {
    padding-left: 14px;
    text-decoration: none;
    color: var(--link-color);
    font-weight: bold;
    min-width: 100px;
    font-family: 'Lato', sans-serif;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: var(--link-color);
}


td.title {
    font-weight: bold;
    text-align: right;
    min-width: 100px;
    font-size: 100%;
    opacity: 0.7;
    color: white;
    font-family: 'Lato', sans-serif;
}
td.normal {
    padding-left: 6px;
    font-weight: bold;
    min-width: 100px;
    font-size: 100%;
    color: white;
    font-family: 'Lato', sans-serif;
}
td.small {
    padding-left: 6px;
    font-weight: bold;
    min-width: 100px;
    font-size: 10px;
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: right;
    padding-right: 16px;
}


p.header {
    margin-top: 10px;
    color: white;
    padding-left: 14px;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 6px;
}
p.normal {
    margin-top: 6px;
    color: rgba(255, 255, 255, 0.789);
    padding-left: 16px;
    line-height: 200%;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}
p.small {
    margin-top: 6px;
    color: #4d58ed;
    text-align: right;
    padding-right: 16px;
    line-height: 200%;
    font-size: 10px;
    font-weight: bold;
    font-family: sans-serif;
}